<div class="footer">
	<div class="row">
		<div class="col-sm-3">
			<p><small>&copy; H.CUI 2018</small></p>
		</div>
		<div class="col-sm-3">
			<p class="pull-right"><small><a href="mailto:hcui10@illinois.edu">University Email</a></small></p>
		</div>
		<div class="col-sm-3">
			<p class="pull-right"><small><a href="https://github.com/hcui10">GitHub Page</a></small></p>
		</div>
		<div class="col-sm-3">
			<p class="pull-right"><small><a href="https://www.linkedin.com/in/haoencui/">LinkedIn Page</a></small></p>
		</div>
	</div>
</div> <!-- /footer -->
